// COLORS
$color-white: rgb(255, 255, 255);
$color-bg-site: rgb(237, 243, 248);
$color-water-white: rgb(251, 252, 254);
$color-middle-blue: rgb(54, 83, 107);
$color-light-blue: rgb(107, 130, 148);
$color-dark-pink: rgb(186, 66, 112);
$color-light-pink: rgb(218, 109, 151);
$color-dark-blue: rgb(27, 38, 47);

// 
