//-----Simple-----

.simple__wrapper {
  @include flex-style(center, space-between)
}

.simple__heading {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: $color-middle-blue;
}

.simple__text {
  width: 445px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: $color-middle-blue;
}

.simple__image {
  position: relative;
  left: calc(50% - 755px);
}

.simple__img {
  position: absolute;
  right: calc(50% - 668px);
}